In [ ]:
import numpy as np
import pandas as pd
import os
from sklearn import preprocessing
import keras
from sklearn.model_selection import train_test_split
import tensorflow as tf
from keras.models import Sequential
from keras.layers import Dense, Dropout, Activation, Flatten
from keras.layers import Conv2D, MaxPooling2D

In [ ]:
data= pd.read_csv('/content/drive/MyDrive/GenAI_Dataset_VLG/train.csv')

In [ ]:
data

,labels,f_0,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,...,f_1190,f_1191,f_1192,f_1193,f_1194,f_1195,f_1196,f_1197,f_1198,f_1199
0,0,-2.033875,0.978446,-0.142131,-0.177117,-1.470684,1.669562,-0.196530,-0.125239,-0.452284,...,-1.111266,0.716084,0.060039,0.301279,-1.174846,-1.076498,-0.069452,-0.604012,-2.179176,0.558003
1,1,-0.348835,0.294815,-0.557577,-2.020773,-1.234715,1.633930,-1.680658,-0.358146,0.166122,...,0.735240,0.829781,1.521941,1.347946,0.754505,1.330642,-0.754453,0.582956,0.252671,1.495870
2,1,0.113248,-0.607726,-0.947791,0.830851,0.998291,0.498321,-1.493958,0.789572,-1.311018,...,0.104698,0.616189,-1.035953,2.111387,-0.984415,1.148076,-1.433554,0.243372,0.170083,1.274795
3,0,1.223321,-0.479048,-1.925789,1.680377,0.021840,-1.453307,0.605559,-0.019024,1.065448,...,0.360237,-1.957863,-0.123384,1.505329,0.660290,-1.769443,-0.547756,-0.568122,0.244645,0.982116
4,0,0.160109,0.422684,-0.308029,0.227744,0.432854,0.608348,0.193832,1.035091,-0.538868,...,0.416629,1.441766,0.212572,-0.994721,1.143999,-2.166923,-1.199248,-1.028636,0.752791,0.317169
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5245,0,1.157565,-0.142219,1.043992,1.144946,1.195423,0.248978,-1.505100,-0.874137,-1.782724,...,1.195423,-0.255793,-0.154838,0.413029,-0.482939,-1.277953,-0.445082,1.195423,-0.924614,-0.432462
5246,0,1.424709,0.235910,1.356778,1.368099,-0.318862,1.039765,-0.986854,-0.330184,-1.383120,...,1.424709,-1.066107,0.881258,-0.488691,-1.281223,-1.213291,0.122692,1.175627,-1.145360,0.451026
5247,1,-0.375687,1.524455,0.012514,-0.007917,0.073809,-0.906909,-1.254247,1.606182,0.298557,...,-0.028349,-0.968204,-1.233815,1.626613,-0.191802,1.115823,0.380284,-0.293960,0.135104,1.381434
5248,1,-0.478238,1.666142,0.049609,-0.428752,-0.362771,1.798104,-0.214314,0.775400,-0.379267,...,-0.428752,-1.121552,-0.379267,-0.593705,0.049609,1.765114,0.313533,-0.329781,-1.220524,0.033114
5249,1,-0.750874,0.267008,-0.155041,-0.179867,-0.155041,-0.303999,-0.279173,1.731765,0.564925,...,-0.303999,-0.850180,0.937321,-1.594972,1.036626,1.582807,1.036626,-0.254346,0.664230,1.831071

In [ ]:
features = data.iloc[:, 1:]
labels = data.iloc[:, 0]

In [ ]:
labels

0       0
1       1
2       1
3       0
4       0
       ..
5245    0
5246    0
5247    1
5248    1
5249    1
Name: labels, Length: 5250, dtype: int64

In [ ]:
x = features.values
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
features_normalized = pd.DataFrame(x_scaled)

In [ ]:
features_normalized

,0,1,2,3,4,5,6,7,8,9,...,1190,1191,1192,1193,1194,1195,1196,1197,1198,1199
0,0.207044,0.637854,0.487732,0.437158,0.301734,0.766067,0.512846,0.459553,0.538700,0.452100,...,0.331478,0.591394,0.463489,0.479639,0.337543,0.460829,0.477533,0.445382,0.255267,0.569590
1,0.451173,0.542732,0.436253,0.182685,0.334958,0.760596,0.291018,0.428104,0.620927,0.242103,...,0.569381,0.607787,0.673742,0.630661,0.595623,0.759463,0.378018,0.604149,0.566340,0.697298
2,0.518120,0.417152,0.387900,0.576284,0.649360,0.586230,0.318923,0.583077,0.424516,0.586230,...,0.488142,0.576991,0.305862,0.740816,0.363016,0.736813,0.279361,0.558727,0.555776,0.667195
3,0.678948,0.435056,0.266714,0.693541,0.511878,0.286569,0.632731,0.473895,0.740508,0.568213,...,0.521066,0.205860,0.437109,0.653369,0.583020,0.374861,0.408046,0.450183,0.565313,0.627341
4,0.524910,0.560524,0.467175,0.493039,0.569748,0.603124,0.571192,0.616229,0.527187,0.576605,...,0.528332,0.696024,0.485426,0.292642,0.647724,0.325549,0.313400,0.388585,0.630313,0.536796
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5245,0.669422,0.481923,0.634707,0.619637,0.677116,0.547945,0.317258,0.358431,0.361795,0.505617,...,0.628671,0.451267,0.432585,0.495763,0.430096,0.435836,0.422963,0.686072,0.415746,0.434720
5246,0.708126,0.534536,0.673465,0.650438,0.463908,0.669366,0.394718,0.431879,0.414929,0.640487,...,0.658212,0.334435,0.581598,0.365656,0.323314,0.443858,0.505447,0.683424,0.387509,0.555023
5247,0.447283,0.713826,0.506894,0.460512,0.519195,0.370465,0.354752,0.693342,0.638537,0.477019,...,0.471001,0.348551,0.277405,0.670869,0.469040,0.732812,0.542869,0.486854,0.551301,0.681715
5248,0.432426,0.733541,0.511491,0.402425,0.457726,0.785804,0.510187,0.581164,0.548409,0.569390,...,0.419413,0.326441,0.400307,0.350504,0.501332,0.813364,0.533172,0.482063,0.377894,0.498117
5249,0.392926,0.538863,0.486132,0.436778,0.486974,0.463038,0.500493,0.710300,0.673955,0.676853,...,0.435486,0.365568,0.589661,0.206033,0.633361,0.790747,0.638220,0.492153,0.618985,0.742942

In [ ]:
assert features_normalized.shape[1] == 20 * 20 * 3, "Features_normalized should have 1200 columns"

In [ ]:
values = features_normalized.values

In [ ]:
features_reshaped = np.reshape(values, (5250, 20, 20, 3))

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(features_reshaped, labels, test_size=0.2, random_state=42)

In [ ]:
model = tf.keras.Sequential([
    Conv2D(32, (3, 3), activation='relu', input_shape=(20, 20, 3)),
    MaxPooling2D((2, 2)),
    Conv2D(64, (3, 3), activation='relu'),
    MaxPooling2D((2, 2)),
    Conv2D(64, (3, 3), activation='relu'),
    Flatten(),
    Dense(64, activation='relu'),
    Dense(2, activation='softmax')
])

In [ ]:
learning_rate = [0.001, 0.01, 0.1]
activation = ['relu', 'tanh']
param_grid = dict(learning_rate=learning_rate, activation=activation)

In [ ]:
!pip install scikeras

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting scikeras
  Downloading scikeras-0.11.0-py3-none-any.whl (27 kB)
Requirement already satisfied: packaging>=0.21 in /usr/local/lib/python3.10/dist-packages (from scikeras) (23.1)
Requirement already satisfied: scikit-learn>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from scikeras) (1.2.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=1.0.0->scikeras) (1.22.4)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=1.0.0->scikeras) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=1.0.0->scikeras) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=1.0.0->scikeras) (3.1.0)
Installing collected packages: scikeras
Successfully installed scikeras-0.11.0

In [ ]:
def build_model(learning_rate=0.01, activation='relu'):
    model = Sequential([
        Conv2D(32, (3, 3), activation=activation, input_shape=(20, 20, 3)),
        MaxPooling2D((2, 2)),
        Conv2D(64, (3, 3), activation=activation),
        MaxPooling2D((2, 2)),
        Conv2D(64, (3, 3), activation=activation),
        Flatten(),
        Dense(64, activation=activation),
        Dense(2, activation='softmax')
    ])

    lr_schedule = tf.keras.optimizers.schedules.ExponentialDecay(
        initial_learning_rate=learning_rate,
        decay_steps=10000,
        decay_rate=0.9)
    optimizer = tf.keras.optimizers.SGD(learning_rate=lr_schedule, momentum=0.9, nesterov=True)
    model.compile(loss="sparse_categorical_crossentropy", optimizer=optimizer,
                  metrics=["accuracy"])

    return model

In [ ]:
import numpy as np
from sklearn.model_selection import GridSearchCV
from scikeras.wrappers import KerasClassifier

model = KerasClassifier(build_fn=build_model, epochs=20, batch_size=10, verbose=0, **param_grid)
grid = GridSearchCV(estimator=model, param_grid=param_grid, n_jobs=-1, cv=3)
grid_result = grid.fit(X_train, y_train)

/usr/local/lib/python3.10/dist-packages/scikeras/wrappers.py:915: UserWarning: ``build_fn`` will be renamed to ``model`` in a future release, at which point use of ``build_fn`` will raise an Error instead.
  X, y = self._initialize(X, y)

In [ ]:
2+2

4

In [ ]:
y_pred = grid_result.best_estimator_.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score

accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.8085714285714286

In [ ]:
data_test = pd.read_csv('/content/drive/MyDrive/GenAI_Dataset_VLG/test.csv')

In [ ]:
data_test = data_test.drop('id',axis=1)

In [ ]:
data_test

,f_0,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,f_9,...,f_1190,f_1191,f_1192,f_1193,f_1194,f_1195,f_1196,f_1197,f_1198,f_1199
0,-3.388242,0.868285,-0.427619,-0.678964,-1.625735,0.262761,1.243040,1.537751,-0.352028,-0.114245,...,-0.776403,-0.662884,-0.257091,-1.168413,0.223260,-0.482520,-0.085453,-0.382265,-0.539349,-1.682404
1,-0.496920,0.952381,0.989040,0.451422,0.513516,-0.099658,-1.124326,0.729430,-0.216224,-0.000680,...,0.379635,-1.760084,1.125450,-0.328047,-0.880305,-1.257607,0.964312,2.021104,0.655021,-0.423029
2,1.128369,-0.537951,2.544358,1.165254,-1.904994,0.776961,-0.495768,0.060111,-1.418468,-0.086128,...,1.165254,-1.373589,-0.483701,-0.964782,-0.869555,0.066040,-0.444567,-0.531935,-0.878660,1.099488
3,0.051253,1.746814,0.681177,1.844524,-0.327977,1.226839,-0.085519,0.379008,-1.003667,0.570237,...,-0.442288,-2.794472,-0.763468,-0.789832,-0.113209,-2.703150,-2.058728,1.070627,-0.458045,-0.435825
4,1.423209,-0.983594,-1.694170,1.197507,1.044211,0.518777,-0.298612,-0.365174,0.738447,0.054435,...,-2.624450,-3.200223,0.711422,-0.190394,0.337224,-1.656639,0.707360,-0.562290,1.471181,-0.192000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2245,0.889888,-0.319077,0.849589,0.822723,0.876455,0.325704,0.876455,-0.910127,0.889888,0.204808,...,0.889888,-2.226556,-0.090717,-1.393713,-0.896694,-0.399675,-0.856395,0.876455,0.863022,-0.601169
2246,1.005737,-0.064755,1.163494,1.163494,1.163494,0.724028,0.712760,-0.785929,-1.225394,1.107152,...,1.163494,-1.270468,-0.932417,-1.169053,-0.008414,-0.605636,-0.323927,1.163494,-1.315541,0.047928
2247,1.252086,1.223561,0.153859,-0.987156,0.239435,-0.003031,-1.158309,1.237823,-1.272410,0.767154,...,0.581740,-1.386512,0.809943,-1.243885,0.153859,-0.630589,1.594391,1.252086,-1.429300,1.408976
2248,1.042624,-0.129166,1.066538,1.030667,1.162195,0.707827,-1.396612,0.014319,-1.025944,0.982839,...,1.078495,-1.193343,0.086061,-0.081338,-0.978116,-0.368307,-0.129166,1.090452,-1.444440,0.468686
2249,-1.319572,-0.485173,-0.098500,2.323293,-0.139202,-0.953250,0.084661,-0.566577,1.427840,-0.403768,...,-0.505524,-0.220607,-0.871845,0.654495,0.430631,-0.444470,-0.118851,0.471334,-0.078149,-0.566577

In [ ]:
x = data_test.values
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
features_normalized_test = pd.DataFrame(x_scaled)

In [ ]:
features_normalized_test

,0,1,2,3,4,5,6,7,8,9,...,1190,1191,1192,1193,1194,1195,1196,1197,1198,1199
0,0.040512,0.670322,0.432992,0.390994,0.256146,0.524661,0.740582,0.733949,0.496265,0.425154,...,0.387324,0.374010,0.502922,0.275261,0.570804,0.434813,0.444719,0.461053,0.428726,0.254612
1,0.459418,0.682333,0.624676,0.548467,0.585478,0.471434,0.411077,0.609764,0.517101,0.441873,...,0.558284,0.212280,0.693637,0.421563,0.392027,0.305786,0.636969,0.792764,0.591558,0.454123
2,0.694896,0.469482,0.835121,0.647910,0.213154,0.600179,0.498563,0.506935,0.332651,0.429293,...,0.674465,0.269250,0.471662,0.310712,0.393769,0.526131,0.378952,0.440395,0.382467,0.695322
3,0.538839,0.795795,0.583020,0.742538,0.455932,0.666251,0.555664,0.555928,0.396290,0.525923,...,0.436735,0.059809,0.433069,0.341169,0.516296,0.065150,0.083340,0.661580,0.439811,0.452096
4,0.737613,0.405834,0.261620,0.652403,0.667177,0.562261,0.526005,0.441598,0.663568,0.449987,...,0.114027,0.000000,0.636524,0.445528,0.589266,0.239360,0.589912,0.436206,0.702827,0.490723
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2245,0.660344,0.500741,0.605807,0.600192,0.641351,0.533905,0.689558,0.357875,0.686802,0.472124,...,0.633743,0.143521,0.525872,0.236038,0.389372,0.448604,0.303531,0.634780,0.619915,0.425902
2246,0.677128,0.537064,0.648281,0.647664,0.685540,0.592405,0.666774,0.376956,0.362272,0.604967,...,0.674205,0.284451,0.409763,0.275149,0.533273,0.414319,0.401046,0.674397,0.322906,0.528733
2247,0.712820,0.721063,0.511670,0.348060,0.543284,0.485625,0.406347,0.687870,0.355059,0.554913,...,0.588172,0.267345,0.650114,0.262122,0.559561,0.410165,0.752360,0.686625,0.307397,0.744352
2248,0.682473,0.527865,0.635162,0.629160,0.685340,0.590026,0.373178,0.499900,0.392872,0.586666,...,0.661635,0.295819,0.550258,0.464513,0.376182,0.453826,0.436713,0.664316,0.305333,0.595390
2249,0.340229,0.477019,0.477524,0.809234,0.484993,0.346071,0.579351,0.410656,0.769335,0.382530,...,0.427383,0.439203,0.418119,0.592617,0.604398,0.441147,0.438603,0.578866,0.491603,0.431382

In [ ]:
features_normalized_test_values = features_normalized_test.values

In [ ]:
features_reshaped_test = np.reshape(features_normalized_test_values, (2250, 20, 20, 3))

In [ ]:
y_pred = grid_result.best_estimator_.predict(features_reshaped_test)

In [ ]:
y_pred

array([0, 0, 0, ..., 1, 0, 0])

In [ ]:
df_final= pd.DataFrame({'labels': y_pred})

In [ ]:
df_final

      labels
0          0
1          0
2          0
3          0
4          0
...      ...
2245       0
2246       0
2247       1
2248       0
2249       0

[2250 rows x 1 columns]

In [ ]:
df_final.to_csv('/content/drive/MyDrive/GenAI_Dataset_VLG/solution_format2.csv')

In [ ]:
df_test_preds_values= pd.read_csv('solution_format2.csv')

In [ ]:
df_test_preds_values

        id  labels
0        0       0
1        1       0
2        2       0
3        3       0
4        4       0
...    ...     ...
2245  2245       0
2246  2246       0
2247  2247       1
2248  2248       0
2249  2249       0

[2250 rows x 2 columns]

In [ ]:
df_test_preds_values['id'] = df_test_preds_values['id'] + 1

In [ ]:
df_test_preds_values.to_csv('solution3.csv', index= False)